/target/

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

node_modules/
*.jpg

.settings/
.loadpath
.project
.externalToolBuilders/

*.launch

.classpath


.factorypath

.target


.tern-project

# STS (Spring Tool Suite)
.springBeans

.properties