<style type="text/css">
#j_titulo {
    background-color: black;
    color: #405eff;
    width: 1100px;
}

#titulo {
    margin-top: 75px;
}
</style>
<div class="container" style="background:none;" id="titulo">
    <div class="jumbotron" id="j_titulo" style="height:50px;">
        <h1 style="margin: -40px auto;">Albunes</h1>
    </div>
    <!--cierra el jumbotron-->
    <div class="row">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="albun in albunes">
                <a href="#">
                    <div class="thumbnail" style="width:300px;margin-left:17px;background:black;">
                        <div class="caption" style="color:white;font-size:20px;text-align:center;">
                            <h3>{{albun.nombre}}</h3>
                            <img src="" alt="una pelicula" style="width:250px;height:250px;margin-top:10px;">
                            <p>{{albun.anio}}</p>
                            <p>{{albun.banda}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--row-->
</div>
<!--containe-->
