<div style="margin: 0 auto;margin-top:200px;opacity:0.8;width:300px;">

<div class="well">
    <form class="login" method="POST">
        <div class="form-group">
            <input type="text" ng-model="usuario.nombre" class="form-control" placeholder="usuario" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" ng-model="usuario.contrasenia" class="form-control" placeholder="password" required>
        </div>
        <button class="btn btn-lg btn-success" ng-click="verificarUsuario()" type="submit">Iniciar sesion</button>
        <p class="help-block"><a href="#">no se acuerda su contrasenia</a></p>
    </form>
</div>

</div>