<style type="text/css">
#j_titulo {
    background-color: black;
    color: #405eff;
}
</style>
<div class="container" style="background-color:#595959;">
    <div class="jumbotron" id="j_titulo" style="height:50px;">
        <h1 style="margin: -40px auto;">Agregar Albun</h1>
    </div>
    <!--cierra el jumbotron-->
    <div class="row" style="; margin-left:10px; ">
        <div class="col-md-6">
            <div class="form-horizontal" style="font-align:center;">
                <div class="form-group">
                    <label class="control-label" style="font-size:20px;">Numero de caciones
                        <input type="text" class="form-control" id="canciones" />
                    </label>
                    <!--con angular generar evento que cunado e agrega un numero se generen con el ng-repeat X textbox-->
                </div>
            </div>
            <!--form-->
        </div>
        <!--col 6-->
    </div>
    <!--row-->
    <div class="row">
        <div class="btn-group " style="float:right" role="group">
            <button type="button" class="btn btn-danger" style="border-radius:0;height:50px;width:100px;font-align:center;background:#ff3333;">Cancelar
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" style="height:50px;width:50px;margin-right:20px;background:black;border-radius:0;border:none;" id="seguir"><span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="color:#405eff;font-size:30px;width:-40px"></span> </button>
        </div>
    </div>
    <!--botones-->
</div>
<!--containe-->
