
<div ><input type="button" value="Iniciar Sesion" ng-click="goLogin()" class="btn btn-primary" style="font-size:20px;float:right;background:none;margin-top:-150px;border:black ;"></div>

<div id="body">
	
	<div class="container" id="registro">
		<div class="row centered-form">
			<div class="col-md-6 ">
				<div class="panel panel-default" id="panel_register">
					<div class="panel-heading " id="panel_head">
						<h3 class="panel-title">Registrate ahora es Gratis!!</h3>
					</div>
					<div class="panel-body">
						<form role="form">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control input-sm"
											placeholder="Nombre">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control input-sm"
											placeholder="Apellido">
									</div>
								</div>
							</div>

							<div class="form-group">
								<input type="email" class="form-control input-sm"
									placeholder="Email">
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="password" class="form-control input-sm"
											placeholder="Contraseña">
									</div>
								</div>
								<div class=" col-md-6">
									<div class="form-group">
										<input type="password" class="form-control input-sm"
											placeholder="Confirmar Contraseña">
									</div>
								</div>
							</div>
							<a href="#" style="color: white;">Al presionar "Aceptar" esta
								deacuerdo con los terminos de uso</a> <input type="submit"
								value="Acepto" class="btn btn-success" id="btn_registrarse">

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>